@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Scheherazade+New:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
  color: #000;
  direction: rtl; /* Right to Left Direction */
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: inherit;
}
